.filler {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://source.unsplash.com/1600x900/?coding,programming") center/cover
      fixed no-repeat;
  h3 {
    font-weight: 300;
    color: #fff;
  }
}
