.services {
  background: #f2f2f2;
  &__content {
    background: #fff;
    position: relative;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    &:hover i {
      background: $primary-color;
      color: #fff;
    }
    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid $primary-color;
      width: 0;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transition: 0.5s ease-in-out;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -ms-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
    i {
      font-size: 1.5rem;
      color: $primary-color;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }

    h3 {
      font-size: 1.2rem;
    }
  }
}
